.img-foro{
    background-image: url("../../../assets/img/mu2.webp");
    background-size: contain;
    width: 100%;
    height: 15rem;
}


.img-foro h1{
    padding: 2%;  
    font-family: cursive;
    font-size: 30px;
    color: rgb(245, 240, 235);
    margin: 0 0 0px;
}


.img-foro h1:hover{
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 80px;
  text-shadow: 1px 1px 6px rgb(56, 39, 9);
}


