*{
  margin: 0;
}

.container{
  background-image: url('../../../assets/img/re2.jpg');
  width: 100%;
  height: 38rem;
}



form{
  text-align: center;
  width: 25%;
  margin: 5rem auto;
  background-color: white;
}





.boton{
  height: 50px;
}

.spinner{
  margin: 0 auto;
}