.example-spacer {
  flex: 1 1 auto;
}

.navb{
  background: black;
  color: white;
  font-family:  cursive;
}

.navb  .title{
    font-size: 25px;
    font-family:  cursive;
    letter-spacing: 2pt;
}

.navb  .title:hover{

  /* outline-color: rgba(61, 90, 102, 0.945); */
  /* outline-offset: 80px; */
  text-shadow: 1px 1px 6px #fff;
  color: yellow;
}


.efectos-btn{
  color: rgba(255, 255, 255, 0.9) !important;
  font-size: 18px;
  font-weight: 500;
  padding: 0.3em 0.5em;
  background:blue ;
  /* border: 2px solid;
  border-color: #42240579; */
  position: relative;
  /* border-radius: 10em; */
  text-align: center;
  margin-right: 40px;
}

.efectos-btn:hover{
  color: rgb(243, 233, 233);
  background-color: rgb(238, 16, 16);
}

.ini{
  
  width: 100px;
 
  background-color: red;
  color: #fff;
 
}

.salir{
  background-color: red;
  width: 3rem;
}
/*----------------new -----------*/
