
<mat-toolbar class="navb">
  <span class="title">Crea y Deja tu opinión </span>
  <!-- <p>
    <span class="word wisteria">Mi</span>
    <span class="word belize">Ti</span>
    <span class="word pomegranate">Ellos</span>
    <span class="word green">Todos</span>
    <span class="word midnight">Y
    </span>
  </p> -->
  
  <!--Dinamico :-->
  <span class="example-spacer"></span>

  <button mat-button class="efectos-btn" *ngFor="let item of menu" [routerLink]="item.redirect" >{{item.nombre}}</button>
  <button mat-button class="efectos-btn" *ngIf="activo" [routerLink]="['/inicio/space']" >Crear post</button>

  <span class="example-spacer"></span>
  
  <span *ngIf="activo">{{userG.usuario}}</span>
  <button mat-icon-button class="example-icon favorite-icon " aria-label="Example icon-button with heart icon">
    <mat-icon>person</mat-icon>
  </button>
  <button *ngIf="activo" mat-icon-button  (click)="logout()"
    class="salir">Salir
  </button>
  <button *ngIf="!activo" mat-icon-button  routerLink="/login" 
     class="ini" >Iniciar secion</button>
</mat-toolbar>

