<div class="container" >
  <div *ngIf="listPublic.length == 0" class="foro-vacio">
    No existen foros
    
  </div>

      <h1>Realiza Comentarios</h1>
      <mat-card class="example-card"    *ngFor="let m of this.listPublic" >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{m.titulo}}</mat-card-title>
          <mat-card-subtitle>{{m.usuario}}</mat-card-subtitle>
          
        </mat-card-header>
        

        <mat-card-content>
           <div [innerHTML]=" m.contenido | safeHtml"></div> 
        </mat-card-content>
        
        <div class="acciones">
         
          <button  mat-icon-button class="izq" (click)="verPost(m.id)">
            Comentar
          </button>
        </div>
      </mat-card>
      

      
</div>

<router-outlet></router-outlet>

