.example-card {
  max-width: 100%;
  max-height: 100%; 
  width: 90%;
  height: 40%;
  margin: 0 auto;
  margin-bottom: 7px;
  color: white;
   background-color: rgba(14, 1, 1, 0.281);
}



.foro-vacio {
  background: url("/src/assets/img/empleado-de-oficina.png");
}

.example-header-image {
  background-image: url('../../../../assets/img/user.png');
  background-size: cover;
}

.example-card .hora{
  left: 2px;
  width: 10%;
}

.acciones{
 
  height: 40px;
}

.acciones .izq{
  float: left;
}

