.example-card {
    /* max-width: 80%;
    max-height: 80%; */
    width: 100%;
    height: 40%;
    background: linear-gradient(to top, #110901fb 0%, #272626a9 100%);
    color: white;
  }
  
  .example-header-image {
    background-image: url('../../../../../assets/img/user.png');
    background-size: cover;
  }
  
  button{
    color: black;
  }

  .ex mat-card-title{
    font-size: 42px;
  }


   #gggg {
    /* max-width: 80%;
    max-height: 80%; */
    width: 100%;
    height: 40%;
   background-color: white;
  }


  .exi{
    width: 100%;
  }
  form{
  width: 100%;
}
 