
*{
  margin: 0;
 
}
.login-back{
   background-image: url('../../../assets/img/abc.jpg');
   height: 37rem;
   width: 100%;
   
}

.login { 

  text-align: center;
  width: 330px;
  background-color: rgba(248, 238, 238, 0.63);
  margin: 0 auto;
  color: rgb(15, 17, 17);
}

form{
 color: black;
  background-color: rgba(244, 246, 253, 0.911);
  height: 18rem ;
  margin: 2rem;
  
}
.button button {
  color: rgb(17, 2, 2);
}



.spinner{
  margin: 0 auto
}