
<div class="login-back">
  <div class="container login-back">
    <div class="button">
      <button  mat-icon-button routerLink="/inicio">
        volver
      </button>
    </div>


    
    <div class="login">
      <mat-spinner *ngIf="loading" diameter="50" class="spinner"></mat-spinner>
  
      <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="ingresar()">
       
      
        <h1>iniciar seción</h1>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Usuario</mat-label>
        <input 
        matInput
        formControlName="usuario"
        >
      </mat-form-field>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input type="password"
        formControlName="password"
        matInput
        
        >
      </mat-form-field>
      <br>
        <button 
        class="ancho boton" 
        mat-raised-button 
        color="primary"
        type="submit"
        [disabled]="form.invalid"
        >Ingresar</button>
      </form>
      <br>
      <p *ngIf="noexiste">El usuario no existe </p>
      No tiene cuenta? <a routerLink="/register">Registrese</a>
    </div>
  </div>
</div>

