<div class="container">
 
  <mat-card class="example-card">

    <mat-card-title-group>
      <mat-card-title>{{user.usuario}}</mat-card-title>
      
      <div >
        
        <mat-card-subtitle>{{user.fecha |date: 'MM/dd/yyyy' }}</mat-card-subtitle>
        <mat-card-subtitle>{{user.fecha |date:'shortTime'}}</mat-card-subtitle>
      </div>
    </mat-card-title-group>
    <mat-card-content>
      
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <p>
       Bienvenido Ahora puedes iniciar creando un post!
      </p>
    </mat-card-content>

    <mat-divider inset></mat-divider>
    <mat-card-actions>
     
        <button  mat-button  matTooltip="Crear Nuevo" (click)="crearNuevoP()">
          <mat-icon >exit_to_app</mat-icon>
          Nuevo Post
        </button >
      
        <button  mat-button matTooltip="Ver" (click)="verPost()">
          <mat-icon  >build</mat-icon>
          Mis Posts
        </button>
    
    </mat-card-actions>
  </mat-card>
  <br>
    <div *ngIf="verP">
      <div *ngIf="user.lista_public.length == 0"><h2>Vacio....</h2></div>

      <div *ngIf="user.lista_public.length > 0 ">
        <mat-card class="example-card"    *ngFor="let m of user.lista_public" >
          <mat-card-title-group>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>{{m.titulo}}</mat-card-title>
            <mat-card-subtitle>{{m.usuario}}</mat-card-subtitle>
            <div >
              
              <!-- <button  mat-button > -->
                <mat-icon  matTooltip="Eliminar" (click)="eliminarPost(m.id)">delete</mat-icon>
              <!-- </button> -->
              <!-- <button  mat-button > -->
                <mat-icon matTooltip="Editar" (click)="editarPost(m)" >edit</mat-icon>
              <!-- </button> -->
            </div>
          </mat-card-title-group>

          <mat-card-content>
            <div [innerHTML]=" m.contenido | safeHtml"></div> 
          </mat-card-content>
          
          <div class="acciones">
            <!-- <button  mat-icon-button matTooltip="Me gusta" >
              <mat-icon >thumb_up</mat-icon><span>{{m.cant_like}}</span>
            </button >
            <button  mat-icon-button matTooltip="No me gusta">
              <mat-icon >thumb_down</mat-icon><span>{{m.cant_dislike}}</span>
            </button> -->
            <!-- <button  mat-icon-button class="izq" (click)="verPost(m.id)">
              Ver..
            </button> -->
          </div>
        </mat-card>
      </div>
    </div>

  <div  *ngIf="crearP">
 
     <form [formGroup]="form" >
       <!-- [(ngModel)]="titulo" -->
       
       <div class="example-card">
        <h3>Contenido :</h3>
        <mat-form-field  appearance="outline">
          <mat-label>Título</mat-label>
          <input 
          matInput
          formControlName="titulo"
          >
        </mat-form-field>
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
        <ngx-editor
        [editor]="editor"
        formControlName="contenido"
        ></ngx-editor>
        <!-- [(ngModel)]="html" -->
        <br>
        <button mat-button  *ngIf="!editarP" [disabled]="form.invalid" (click)="Guardar()">Guardar</button>
        <button mat-button  *ngIf="editarP" [disabled]="form.invalid" (click)="guardarCambios()">Guardar Cambios</button>
        <br>
        <br>
      </div>
     
    </form>
  </div>


</div>