<div class="container">
  <div class="button">
    <button  mat-icon-button routerLink="/inicio/usuarios">
      <mat-icon class="gg" matTooltip="Volver">arrow_back</mat-icon>
    </button>
  </div>
  <mat-card class="example-card">

    <mat-card-title-group>
      <mat-card-title>{{usuario.usuario}}</mat-card-title>
      
      <div >
     
        <mat-card-subtitle>{{usuario.fecha |date: 'MM/dd/yyyy'}}</mat-card-subtitle>
        <mat-card-subtitle>{{usuario.fecha |date: 'HH:MM:SS' }}</mat-card-subtitle>
      </div>
    </mat-card-title-group>
    <mat-card-content>
      
      <div mat-card-avatar class="example-header-image"></div>
      <p>
      Bienvenido
      </p>
    </mat-card-content>

    <mat-divider inset></mat-divider>
    <mat-card-actions>
     
        <!-- <button  mat-button  routerLink="/login" >
          <mat-icon matTooltip="Ingresar">edit_square</mat-icon>
          Nuevo Artículo
        </button >
      
        <button  mat-button >
          <mat-icon matTooltip="Ingresar">edit_square</mat-icon>
          Mis Posts
        </button> -->
    
    </mat-card-actions>
  </mat-card>
  <br>
  <div *ngIf="usuario.lista_public.length > 0">
    <mat-card class="example-card"    *ngFor="let m of usuario.lista_public" >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{m.titulo}}</mat-card-title>
        <mat-card-subtitle>{{m.usuario}}</mat-card-subtitle>
        <div class="hora">
          <mat-card-subtitle>{{m.fecha |date: 'HH:MM:SS'}}</mat-card-subtitle>
          <mat-card-subtitle>{{m.fecha |date: 'MM/dd/yyyy'}}</mat-card-subtitle>
        </div>
      </mat-card-header>

      <mat-card-content>
         <div [innerHTML]=" m.contenido | safeHtml"></div> 
        </mat-card-content>
        
        <div class="acciones">
          <button  mat-icon-button  >
            <mat-icon matTooltip="Me gusta">thumb_up</mat-icon><span>{{m.cant_like}}</span>
          </button >
          <button  mat-icon-button >
            <mat-icon matTooltip="No me gusta">thumb_down</mat-icon><span>{{m.cant_dislike}}</span>
          </button>
          <!-- <button  mat-icon-button class="izq" (click)="verPost(m.id)">
            Ver..
          </button> -->
        </div>
      </mat-card>
      <br>
  </div>
</div>