

mat-paginator {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 30px;
}
.titu{
  float:left;
  margin: 0;
  text-align: center;
  margin: 3% 10%;
}
.con{
  margin-left: 10%;
  width: 400px;
}
img{
  width: 40%;
  float: right;
}
.container{
  width: 400px;
  background-color: aliceblue;

  color: white;
}

/* .search{
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
} */

table{
  background-color: rgba(136, 255, 0, 0.205);
  border-radius: 20px;
  color: white;
}

.container_list{
  background: linear-gradient(to top, 	#251806dc 0%, #7d6553b6 100%);
  padding-bottom: 30px;
  border-radius: 20px;
  
}

.btn-agregar{
  background-color: rgb(85, 150, 207);
}

th {
  width: 9%;
}


.col-1{
  width: 4%;
}

.acciones{
  width: 3%;
}

.alineacion {
  text-align: left;
}

.pointer {
  cursor: pointer;
}


.icono-1 {
  color: #1878b0;
}

.icono-2 {
  color: #1f516f;
}

.icono-3 {
  color: #e15639;
}

mat-form-field {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 5%;
  
}


.example-spacer {
  flex: 1 1 auto;
}

